doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/styles.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Catamaran:100|Squada+One")

  body
    div.container.listing-reg
      div(class="appwrapper")
        div(id="navbar")
          div(class="logo")
            a(href="/") MoodApp

          div(class="dropdown" onclick="dropDown()")
            div(class="menu")
            div(class="menu")
            div(class="menu")
      
            div(class="dropdown-content" id="dropdown-content")
              a(href="/") Home
              a(href="/api/user/profile") Profile
              a(href="/api/user/calendar") Calendar
    //- end of nav bar
  block content

  